<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/wizardTemplate.xhtml"
                xmlns:custom="http://java.sun.com/jsf/composite/custom"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="step_content">   	

        <h:form id="navigationComponentForm">
            <custom:navigationActions id="navigationComponent"
                                      activeStep="step5" 
                                      navigateNextAction="#{jobSubmission.navigateNext}" 
                                      navigatePrevAction="#{jobSubmission.navigatePrev}"      
                                      isFinalStep="true"/>

            <!--  This is a bit of a weird validation hack...
             feel free to improve it if you have a more elegant solution!
            -->
            <h:inputText id="jsfValidationHack" styleClass="hidden">
                <f:validator for="jsfValidationHack" validatorId="jobValidator"/>
                <f:attribute name="microArraySelectionCount" value="#{microarraySelections.selectionCount}" />
                <f:attribute name="validProbesets" value="#{geneSelection.validProbeSets}" />
                <f:attribute name="selectedVersion" value="#{releaseVersionSelection.selectedVersion}" />
                <f:attribute name="email" value="#{jobSubmission.email}" />
            </h:inputText>

            <h:panelGroup layout="block" rendered="#{not empty facesContext.messageList}">
                <br/>
                <br/>
                <br/>
            </h:panelGroup>
            <h:panelGroup id="messages" layout="block" rendered="#{not empty facesContext.messageList}" styleClass="alert alert-danger">
                <h:messages for="jsfValidationHack"/>
            </h:panelGroup>
        </h:form>



        <h:form id="thresholdInputForm">

            <div class="step-content">
                <div class="col-md-12">
                    <p:messages id="msgs" />
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <div class="panel-title pull-left">
                                    Enter email addresses for analysis status update

                                </div>
                                <div class="pull-right">
                                    <a href="about.xhtml#NOTIFY">
                                        <img src="images/help.gif" alt="Help" width="59" height="22" border="0" hspace="20" align="bottom" />
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p:inputText id="email" required="true" label="email" size="40"
                                             requiredMessage="Please enter your email address."
                                             validator="#{jobSubmission.validateEmailAddress}"
                                             value="#{jobSubmission.email}">

                                    <f:ajax execute="@all" render="@form"/> 
                                </p:inputText>
                                <p:watermark for="email" value="Email Address" />
                                <h:message for="email" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </h:form>
    </ui:define>

</ui:composition>
